@{
    ViewData["Title"] = "Brute Force";
}

<div>
    <h1 class="display-4">Brute Force</h1>
    <h3>Definition</h3>
    <p>
        Brute Force Attack is a hacking method that uses trial and error to crack passwords (Fortinet, 2023).
    </p>
    <h3>Problem</h3>
    <p>
        During a brute force attack, an attacker attempts to gain access to a user’s account by correctly entering
        the password. Automated tools have made brute force hacking an easier way of accomplishing a successful
        password attack. Brute force attacks test every possible combination that a password could be. Many advancements
        have allowed these tools to find a single dictionary word password within one second (Kapersky, 2023).
    </p>
    <h3>Mitigate Your Risk</h3>
    <p>
        Since attackers often use automated tools to rapidly input potential passwords, one of the most important ways to
        prevent this type of attack is to ensure the utilization of a password with complexities and a reasonable length.
        When looking at ways to create a complex password, there are a few key boxes you will want to check off including
        the use of upper- and lower-case letters, numbers, and special characters. It is also recommended that in order to
        create a strong password it should use at least 13 characters (Kävrestad, 2019).
    </p>
    <p>
        Another way to prevent a brute force attack from occurring is by using multi-factor authentication (MFA). MFA, as
        the name hints at, only allows a user to login by providing two forms of authentication (CISA, n.d). This helps
        tremendously during a brute force attack because even though an attack has your password, they are unable to input
        the second form of authentication.
    </p>

</div>

