@{
    ViewData["Title"] = "Education";
}

<div class="text-center">
    <h1 class="display-4">Education Page</h1>
    <div class="grid-container">
        <a class="grid-child" href="BruteForce">Brute Force</a>
        <a class="grid-child" href="Phishing">Phishing</a>
        <a class="grid-child" href="Keylogging">Keylogging</a>
</div>
</div>

