@{
    ViewData["Title"] = "Keylogging";
}

<div>
    <h1 class="display-4">Keylogging</h1>
    <h3>Definition</h3>
    <p>
        Keylogging is the act of gaining elevated access to the target’s computer and capturing keystrokes. (Citation?)
    </p>
    <h3>Problem</h3>
    <p>
        This process allows the attacker to see exactly what a person is typing on their computer, and ultimately that
        will result in personal information, usernames, and passwords. This form of attack intercepts information from
        the user and can be devastating for those holding escalated privileges or systems that store critical information.
        Most commonly, keyloggers are installed on a device through spear phishing, drive-by downloading, Trojan horses,
        and unauthorized access to physical devices (Fortinet, 2023).
    </p>
    <p>
        The keylogger can come in the form of software and hardware (Fortinet, 2023). Software keyloggers are downloaded
        onto a system and monitor the paths that the keystrokes take. These are recorded and compiled back to the hacker
        (Grimes, 2017). Hardware keyloggers are physically connected to the target system and acts undetected. Once
        complete, the attacker can download the information stored on the physical keylogger.
    </p>
    <h3>Mitigate Your Risk</h3>
    <p>
        Mitigating the risk against hackers stealing credentials should always start with the question: can multi-factor
        authentication (MFA) be implemented? Up to 99% of credential attacks can be prevented through proper usage of MFA,
        according to Microsoft statistics (2023).
    </p>
    <p>
        For software keyloggers, it is essential to keep software up to date, as vulnerabilities that have not been patched
        are perfect opportunities for attackers to exploit. In addition, having antivirus and a firewall can provide adequate
        protection against many keylogging attacks or notify the user of suspicious activity.
    </p>
    <p>
        An aspect of keylogging that differs from other types of attacks is that the keylogger can be physically attached or
        part of a device’s hardware, rather than through software usage. Physical security should always be implemented, in
        addition to device inspections in less secure settings or through an established routine.
    </p>
    <p>
        Another foolproof way of ensuring most credentials do not become compromised is by implementing password managers.
        These tools ensure that a user is not typing in a password, so keystrokes cannot be tracked.
    </p>

</div>

