@{
    ViewData["Title"] = "Phishing";
}

<div>
    <h1 class="display-4">Phishing</h1>
    <h3>Definition</h3>
    <p>
        Phishing is "a scam that impersonates a reputable person or organization with the intent to steal
        credentials or sensitive information.” (CrowdStrike, 2023).
    </p>
    <h3>Problem</h3>
    <p>
        Numerous people fall victim to phishing attempts every year. According to the FBI’s 2022 Internet
        Crime Report, there were 300,497 reported phishing victims. How do so many people seem to fall
        victim to phishing?
    </p>
    <p>
        A phishing attempt is able to take on multiple forms. While email is typically the common method of
        sending a phishing attempt, phishers may also use text messages (Smishing) or use a phone call or a
        voicemail (Vishing) (CrowdStrike, 2023).
    </p>
    <p>
        The problem is not just the different forms, but attackers are able to bypass common detection
        methods and indicators that are usually found in phishing attempts. For example, in Vishing, attackers
        can spoof numbers. Additionally, attackers can also spoof caller IDs to appear from a legitimate
        business or organization such as a police department (Bank of America, n.d.).
    </p>
    <h3>Mitigate Your Risk</h3>
    <p>
        There are multiple things that can be done to mitigate the chances of falling victim to phishing attempts.
    </p>
    <h4>Look for Common Indicators:</h4>
    <p>
        While attackers have gotten smarter with their methods, their attempts still typically have some form of
        common indicators. Keeper (Trevino, 2023), a password manager company, and Microsoft (n.d.) provides some
        common indicators in emails and text messages to look out for:
    </p>
    <ul>
        <li>Urgent language</li>
        <li>Threat of dire consequences</li>
        <li>Too-good-to-be-true offers</li>
        <li>Misspellings and grammatical errors</li>
        <li>Unsolicited links and attachments</li>
        <li>Requests for personal information or credentials</li>
        <li>Discrepancies in email addresses and domain names</li>
        <li>Generic Greetings</li>
    </ul>
    <h4>Additional Tips:</h4>
    <ul>
        <li>
            Ensure you use multifactor authentication (MFA). Even if your credentials do accidentally get stolen,
            then MFA should mitigate the risk of account loss because there is an extra step to login (FTC, 2022).
        </li>
        <li>
            Avoid clicking on any links from unknown sources or pop-ups. If the message is from an organization that
            you have an account with, go to their official site and login there (Proofpoint, n.d).
        </li>
        <li>
            DO NOT respond to requests for any type of personal information or credentials. Companies such as banks
            will not contact you out of the blue asking for your information or credentials. A request for information
            only comes from when you contact the company like your bank (Trevino, 2023).
        </li>
        <li>
            If you did respond to a phishing attempt, change your passwords right away and monitor your accounts
            for any potentially malicious activity (Cook, 2023).
        </li>
     </ul>
</div>
