@{
    ViewData["Title"] = "Statistics";
}

<div class="text-center">
    <h1 class="display-4">Statistics Page</h1>
    <div class="grid-container-statistics">
        <div class="grid-child-statistics">
            <p>20%</p>
        </div>
        <div class="grid-child-statistics">
            <p>1 in 5</p>
        </div>
        <div class="grid-child-statistics">
            <p>1 in 10</p>
        </div>
        <div class="grid-child-statistics">
            <p>50,000</p>
        </div>
        <div class="grid-child-statistics">
            <p>56%</p>
        </div>
        <div class="grid-child-statistics">
            <p>5%</p>
        </div>
    </div>
</div>

